@use 'sass:color';

$dark-blue: #1e1b2d;
$light-blue: #828092;
$white: #fff;
$black: #000;

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.our-works {
	$section_color: #20a8de;
	min-height: 100vh;
	background-color: $section_color;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 120px auto 1fr 80px 40px;
	justify-items: center;
	align-items: center;
	color: white;
	overflow: hidden;
	.section-title {
		font-family: 'Blackjack';
		font-size: 4rem;
	}
	.projects-type-links {
		display: grid;
		grid-template-rows: 1fr auto;
		list-style: none;
		grid-column-gap: 20px;
		width: 200px;
		align-self: flex-start;
		justify-items: stretch;
		position: relative;
		.indicator {
			position: relative;
			height: 6px;
			bottom: -6px;
			left: 0;
			grid-row: 2 / 3;
			background-color: white;
			border-radius: 4px;
			transition: all 0.3s;
			justify-self: start;
		}
		.type-link {
			cursor: pointer;
			font-size: 2rem;
			font-family: 'Lobster';
			text-align: center;
		}
	}
	.projects-cards {
		// Base styles
		position: relative;
		justify-self: center;
		align-self: flex-start;
		display: grid;
		justify-content: center;
		column-gap: 3vh;
		row-gap: 7vh;
		// min-height: 30vh;
		padding: 3vh;
		width: 80%;
		max-width: 85%;
		margin-top: 1.5rem;
		transition: height 0.5s;
		.project-card {
			$text_black: color.adjust($black, $lightness: 50%);
			background-color: $white;
			position: relative;
			overflow: hidden;
			border-radius: 0.9375rem;
			box-shadow:
				0 1.1875rem 1.375rem rgba($black, 0.3),
				0 0.9375rem 0.75rem rgba($black, 0.2);
			background: url(https://images.unsplash.com/photo-1547405358-4ef2671bb1bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)
				30% 1% / cover no-repeat;
			display: flex;
			flex-direction: column;
            transition: all 0.5s;
			&:hover {
				.data {
					transform: translateY(0);
				}
				.github-overlay {
					top: 0;
				}
			}
			.github-overlay {
				$height: calc(100% - var(--github-overlay-height));
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: #000;
				opacity: 0.5;
				width: 100%;
				flex-grow: 1;
				height: $height;
				top: calc(-1 * $height);
				transition: top 0.3s;
				@include flex-center();
				color: white;
				i {
					font-size: 4rem;
				}
			}
			.date {
				position: absolute;
				top: 0;
				left: 0;
				background-color: #333;
				color: $white;
				padding: 0.4375rem 1.875rem 1.5rem 0.4375rem;
				border-radius: 0 0 90% 0;

				span {
					display: block;
					text-align: center;
				}

				.day {
					font-weight: 700;
					font-size: 1.5rem;
					text-shadow: 0.125rem 0.1875rem 0.125rem
						rgba($black, 0.18);
				}

				.month {
					text-transform: uppercase;
				}

				.month,
				.year {
					font-size: 0.625rem;
				}
			}

			//data
			.data {
				position: absolute;
				bottom: 0;
				width: 100%;
				transform: translateY(calc(5rem + 1em + 4rem));
				transition: transform 0.3s;

				//content
				.content {
					padding: 1rem;
					position: relative;
					z-index: 1;
					background-color: $white;
					box-shadow: 0 0.3125rem 1.875rem 0.625rem
						rgba($black, 0.3);
					display: grid;
					grid-template-columns: 1fr;
					row-gap: 15px;
					.type {
						font-size: 1rem;
						color: $text_black;
					}

					.title {
						margin-bottom: 1rem;
						height: 1rem;
						color: $text_black;
						i {
							display: none;
						}
						&:hover {
							color: $section_color;
							a {
								text-decoration: underline;
							}
						}
						i {
							margin: 10px;
							font-size: 1rem;
							display: inline;
						}
					}

					.text {
						height: 4.375rem;
						margin: 0;
						color: $text_black;
						font-size: 1rem;
					}

					//menu content
					.menu-content {
						display: flex; /* جعل العناصر داخل .menu-content تنسق باستخدام flex */
						justify-content: center;
						align-items: center;
						list-style-type: none;

						li {
							width: 25%;
							height: 3.75rem;
							display: flex;
							justify-content: center;
							align-items: flex-end;
						}

						a {
							color: #333;
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
	.show-more {
		width: 50px;
		height: 50px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		color: #555;
		font-size: 1.5rem;
		cursor: pointer;
		@include flex-center();
	}
}

@media (min-width: 1200px) {
    
}
/* @media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 768px) and (max-width: 991.98px) {
}
@media (min-width: 481px) and (max-width: 767.98px) {
}
@media (max-width: 480px) {
} */


@media (max-width: 1199.98px) {
	.our-works {
		.projects-cards {
			width: 100%;
		}
	}
}
