@use './font-faces' as *;
@use './font-size-standard' as *;
@use './shared-rules' as *;


// Variables

:root {
	--bottom-top: 20px;
	--main-color: #333;
	--height: 60vw;
	--vh-height: 0px;
	--services-color-main: red;
	--services-color-sub: rre red;
	--github-overlay-height: '';
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}
i {
	font-size: inherit;
}

body {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	font-family: 'Raleway', sans-serif;
}

/* navigation */
$rainbow_bg: linear-gradient(
	-45deg,
	#ee0a21 20%,
	hsl(60, 95%, 49%),
	#20de26,
	#0004ff
);
.h-1 {
	font-weight: 100;
	text-wrap: nowrap;
}
@mixin blindColor {
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero {
	color: white;
	cursor: pointer;
	h1 {
		font-family: 'blackjack';
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
}

.navigation {
	position: sticky;
	top: 0;
	height: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 100;
	color: white;
	transition: top 0.5s;
	background-color: #46474a;
	.nav-container {
		width: 100%;
		align-self: flex-start;
		display: grid;
		grid-template-columns: 1fr 1fr 50%;
		grid-template-rows: auto;
		height: 80px;
		position: relative;
		left: 0;
		transition: 0.5s;
		&.show {
			color: grey;
			background-color: white;
			box-shadow: 0 3px 15px black;
		}

		.hero {
			color: #464646;
			grid-column: 2/3;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;
			h1 {
				padding: 0 25px;
			}
		}
		ul {
			height: 80px;
			align-self: flex-start;
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 0 15px;
			grid-column: 3/4;
			li {
				list-style: none;
				font-family: 'Montero';
				position: relative;
				cursor: pointer;
				i {
					display: none;
				}
				&:hover,
				&.active {
					background-image: $rainbow_bg;
					@include blindColor();
					transition: background-image 0.25s;
					font-weight: bold;
				}
				&::after {
					position: absolute;
					content: '';
					bottom: -4px;
					left: 0;
					width: 0%;
					height: 3px;
					border-bottom: 2px transparent red;
					background-image: $rainbow_bg;
					transition: 0.25s;
					border-radius: 5px;
				}
				&.active {
					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}

.arts {
	background-image: $rainbow_bg;
	@include blindColor();
}

@keyframes down {
	0% {
		height: 20vh;
	}
	50% {
		height: 10vh;
	}
	100% {
		height: 20vh;
	}
}
/* external navigation */

.external-nav-ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	[data-aos='slide-up'] {
		transition-timing-function: cubic-bezier(
			0.6,
			-0.28,
			0.735,
			0.045
		);
	}
	li {
		list-style: none;
		width: 50px;
		height: 50px;
		@include flex-center();
		a {
			color: grey;
			font-size: 2rem;
			height: 60px;
			@include flex-center();
			i {
				font-size: inherit;
			}
		}
		&:hover {
			@include blindColor();
			a i {
				transition: all 0.25s;
				font-size: 40px;
			}
		}
	}
}

header {
	position: relative;
	top: 0;
	user-select: none;
	.external-nav {
		position: absolute;
		left: 15px;
		top: 100px;
		z-index: 10;
		ul {
			justify-content: space-between;
			flex-direction: column;
			height: 24vh;
		}
	}
	.down-container {
		position: absolute;
		bottom: 7vh;
		z-index: 10;
		right: 5%;
		.down {
			height: 20vh;
			width: 0.5vw;
			background-image: linear-gradient(
				0deg,
				#20de26,
				#1d5eca
			);
			position: relative;
			border-radius: 20px;
			animation: down 2.5s ease-out infinite;
			.fa-chevron-down {
				color: white;
				z-index: 10;
				position: absolute;
				background-color: #20de26;
				@include blindColor();
				transition: background-color 0.25s;
				bottom: 0;
				left: 50%;
				transform-origin: bottom;
				transform: translate(-50%, 35%);
				font-size: 4vw;
			}
		}
		.sd {
			color: white;
			position: absolute;
			bottom: 5vh;
			z-index: 10;
			right: 15px;
			transform: rotate(-90deg);
		}
	}
}

.facebook:hover {
	background-image: linear-gradient(90deg, #1755ff, #4117ff);
}
.instagram:hover {
	background-image: linear-gradient(
		90deg,
		#ee0a21,
		#de20a2,
		#1d5eca
	);
}
.telegram:hover {
	background-image: linear-gradient(90deg, #20a8de, #0080ff);
}
/* profile */

.profile {
	background-color: var(--main-color);
	width: 100%;
	height: 100vh;
	position: relative;
}
.profile-picture-container-container {
	width: 100%;
	height: var(--height);
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-picture-container {
	width: 100px;
	height: 100%;
	position: relative;
}
.profile-picture {
	position: relative;
	width: 60vw;
	min-width: 200px;
	max-width: 300px;
	height: var(--height);
	border-radius: 50%;
	border: 20px solid var(--main-color);
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 4;
	background-color: #333;
}
.card {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in;
}
.card.hover {
	transform: rotateY(180deg);
}
.front {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	background-image: url('../assets/photos/tok.svg');
	background-position: center;
	background-size: cover;
	pointer-events: none;
}
.back {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-image: url('../assets/photos/taha.JPG');
	background-position: center;
	background-size: cover;
	pointer-events: none;
}
.corner1,
.corner2,
.corner3,
.corner4 {
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 1;
}
.corner1,
.corner2 {
	top: -8.4%;
}
.corner1 {
	border-bottom-right-radius: 40px;
	left: 0;
	box-shadow: 4px 9px 0px 4px var(--main-color);
}
.corner2 {
	border-bottom-left-radius: 40px;
	right: 0;
	box-shadow: -4px 9px 0px 4px var(--main-color);
}
.corner3,
.corner4 {
	bottom: -8.4%;
}
.corner3 {
	border-top-right-radius: 40px;
	left: 0;
	box-shadow: 4px -9px 0px 4px var(--main-color);
}
.corner4 {
	border-top-left-radius: 40px;
	right: 0;
	box-shadow: -4px -9px 0px 4px var(--main-color);
}

/* designer part start */

.profile-left-container {
	width: calc(50% - 10px);
	height: 100vh;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	/* display: flex;
  justify-content: center;
  align-items: center; */
}
.profile-left {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 15px;
	.rellax {
		padding: 0;
	}
}

.profile-left .img {
	width: 100px;
	position: absolute;
	transition: transform 0.5s;
	img {
		width: 100%;
	}
}
.rellax {
	transition: transform 0.5s;
}
.profile-left .img.yellow {
	width: 100px;
	top: 0;
	left: 25%;
}
.profile-left .img.green {
	width: 100px;
	bottom: 2%;
	right: 5%;
}
.profile-left .img.blue {
	width: 150px;
	top: 50%;
	right: -100px;
}
.profile-left .img.red {
	width: 150px;
	bottom: 5%;
	left: 5%;
}
.designer {
	position: relative;
	display: block;
	text-align: center;
	font-family: 'monotone';
	color: gray;
	.before {
		position: absolute;
		font-family: 'monotone';
		font-size: inherit;
		text-align: center;
		left: 0;
		top: 0;
		height: 100%;
		background-image: linear-gradient(
			90deg,
			#ee0a21,
			hsl(60, 95%, 49%),
			#20de26,
			#1d5eca
		);
		@include blindColor();
		overflow: hidden;
		border-right: 2px solid gold;
		white-space: nowrap;
		animation: revealText 3s 1.5s
			cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
	}
}

@keyframes revealText {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
		border-right-width: 0;
	}
}
.design-slogan {
	font-weight: 100;
	color: #46474a;
	text-transform: capitalize;
}

.design-slogan {
	text-align: center;
}

.profile-right-container {
	width: calc(50% - 10px);
	height: 100vh;
	background-color: black;
	position: absolute;
	right: 0;
	bottom: 0;
}
.profile-right {
	z-index: 3;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding: 0 15px;
	.rellax {
		padding: 0;
	}
}
.coder {
	color: white !important;
	height: 65px;
	overflow: hidden;

	font-family: 'recharge';
}

.coder i,
.coder span {
	background-image: linear-gradient(#20de26, #1d5eca);
	@include blindColor();
	font-weight: bold;
}
.coder-slogan {
	font-weight: 100;
	color: white;
	text-transform: capitalize;
	word-spacing: 3px;
}
.coder-slogan,
.coder {
	text-align: center;
}

.design-slogan,
.coder-slogan,
.slogan {
	font-family: 'montero';
	min-width: 150px;
}

/* our-works */

/* section.our-works {
} */

/* testimonials */

section.testimonials {
	height: 100vh;
	width: 100%;
	background-color: lightgreen;
	overflow: hidden;
}

@media screen and (min-width: 0px) {
	.profile-left {
		align-items: center;
		justify-content: flex-start;
		padding-top: 12.5vh;
	}
	.profile-right {
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 12.5vh;
	}
}
@media screen and (max-width: 320px) {
	.external-nav {
		display: none;
	}
}
@media screen and (max-width: 599px) {
	.slogan {
		display: none;
	}
	.profile-left .img.red {
		left: -5%;
	}
	.profile-left .img.green {
		right: 0%;
	}
	.profile-left .img.red,
	.profile-left .img.green {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.navigation {
		.hero {
			grid-area: 1 / 1 / 2 / 2;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.burger-container {
			grid-column: 3/4;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.burger {
				width: 80px;
				height: 80px;
				font-size: 2rem;
				background-color: transparent;
				color: white;
				outline: none;
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;
				align-self: flex-end;
				grid-column: 3/4;
				color: #333;
				i {
					color: inherit;
				}
			}
		}
		.nav-container ul {
			flex-direction: column;
			height: calc(100vh);
			width: 250px;
			position: absolute;
			justify-content: flex-start;
			top: 0;
			z-index: 10;
			visibility: hidden;
			opacity: 0;
			overflow: hidden;
			right: 0;
			position: fixed;
			&.show {
				visibility: visible;
				opacity: 1;
				transition: all 0.75s ease-in;
				&::after {
					transform: scale(100);
					transition: transform 0.75s ease-in;
					visibility: visible;
				}
				li {
					height: 50px;
					width: 200px;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					border-radius: 15px;
					margin-top: 45px;
					flex-direction: row-reverse;
					&:hover {
						background: rgba(255, 255, 255, 0.2) !important;
						transition: 0.25s;
						-webkit-text-fill-color: white;
					}
					&::after {
						display: none;
					}
					i {
						display: initial;
						width: 50px;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			&::after {
				position: absolute;
				content: '';
				top: 20px;
				right: 20px;
				height: 20px;
				width: 20px;
				background-color: #333;
				z-index: -1;
				border-radius: 50%;
				transform-origin: center;
			}
		}
		.close {
			color: white;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 50px;
			height: 50px;
			display: block;
		}
	}
	.external-nav {
		top: 0;
		left: 15px;
		display: none;
	}
	.external-nav ul {
		display: flex;
		flex-direction: row;
		width: 30vh;
		height: 60px;
	}
	.hero {
		grid-column: 1/2;
	}
	.hero h1 {
		justify-content: center;
		align-items: center;
	}

	.profile-left-container {
		top: 0;
		width: 100%;
		height: calc(50% - 10px);
		left: 0;
		bottom: initial;
	}
	.profile-right-container {
		bottom: 0;
		width: 100%;
		height: calc(50% - 10px);
		left: 0;
	}
	.profile-picture-container {
		transform: rotate(90deg);
	}
	.profile-picture {
		transform: rotate(-90deg) translate(-0%, -50%);
		transform-origin: center;
	}
	.profile-left .img.blue {
		display: none;
	}
	.profile-left .img.yellow {
		display: none;
	}

	.burger {
		display: flex;
	}
}

@media screen and (min-width: 801px) {
	button {
		&.close {
			display: none;
		}
	}
	.burger {
		display: none;
	}
	.profile-picture-container::before {
		flex-grow: 0;
	}
	.burger-container {
		display: none;
	}
	.profile-right-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile-left {
		justify-content: center;
		align-items: center;
		width: calc(100% - 150px);
	}
	.profile-left .img.red {
		left: 5%;
	}
	.profile-left .img.green {
		right: 5%;
	}

	.profile-right-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.profile-right {
		justify-content: center;
		align-items: center;
		width: calc(100% - 150px);
	}
	.coder {
		margin-top: 0;
	}
	.coder-slogan {
		margin-bottom: 0;
	}
}
.logo-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 15px;
	.logo {
		height: 45px;
		width: 45px;
	}
}
.tok {
	-webkit-mask: url('../assets/photos/tok.svg') center /
		cover no-repeat;
	mask: url('../assets/photos/tok.svg') center / contain
		no-repeat;
	background-image: conic-gradient(
		from 60deg,
		#20df25,
		#1c5ecb,
		#ff0101
	);
}

.nav-container.show .logo-container {
	display: flex;
}
.wrap {
	color: white;
	font-size: inherit;
}

/* 

to-top

*/

.to-top-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	.to-top {
		border-radius: 15px;
		background-color: #ffffff;
		cursor: pointer;
		opacity: 0.5;
		box-shadow:
			0.5px 0.5px 10px #38383b25,
			0px -0.5px 10px #38383b26;
		transition: opacity 0.5s;

		&:hover {
			opacity: 1;
		}
		i {
			color: var(--main-color);
			font-weight: 900;
			font-size: 1.5rem;
		}
	}
}

/* 

    SERVICES  

*/

section.services {
	$sub_title_size: 2rem;
	position: relative;
	width: 100%;
	min-height: 100vh;
	font-family: 'Raleway';
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 120px 1fr 120px 20px;
	background-position: left left;
	justify-items: center;
	align-items: center;
	padding: 20px;
	overflow: hidden;
	--base: 10;
	.layer-1,
	.layer-2,
	.layer-3 {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}
	.layer-1 {
		background-color: var(--services-color-main);
		clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
		box-shadow: 10px 10px 10px #000000;
	}
	.layer-2 {
		background-color: var(--services-color-sub);
		clip-path: polygon(75% 0, 0 0, 0% 100%);
	}
	.layer-3 {
		background-color: rgba(255, 255, 255, 0.822);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
	}
	.section-title {
		grid-area: 1 / 1 / 2 / 3;
		z-index: 30;
		@include flex-center();
		font-family: 'blackjack';
		font-size: 4rem;
		color: white;
	}
	.skills {
		grid-area: 2 / 2 / 3 / 3;
		z-index: 5;
		height: 100%;
		@include flex-center();
		justify-content: space-between;
		flex-direction: column;
		.section-title {
			font-family: 'lobster';
			font-size: $sub_title_size;
			padding-bottom: 1rem;
		}
		.circle-holder {
			width: calc(var(--base) * 50px);
			height: calc(var(--base) * 50px);
			border-radius: 100%;
			position: relative;
			@include flex-center();
			.round {
				position: absolute;
				left: calc(var(--base) * 4.5px);
				top: calc(var(--base) * 4.5px);
				width: calc(var(--base) * 41px);
				height: calc(var(--base) * 41px);
				border: 2px dotted var(--services-color-sub);
				border-radius: 100%;
				animation: rotation 100s infinite linear;
			}
			.services-items {
				width: 100%;
				height: 100%;
				position: absolute;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 100%;
				z-index: 20;
				.services-item {
					display: flex;
					justify-content: center;
					align-items: center;
					width: calc(var(--base) * 8px);
					height: calc(var(--base) * 8px);
					position: absolute;
					background: #ffffff;
					color: var(--services-color-main);
					border-radius: calc(var(--base) * 2px);
					text-align: center;
					line-height: calc(var(--base) * 8px);
					z-index: 3;
					font-size: calc(var(--base) * 4px);
					cursor: pointer;
					border: 2px solid #e6e6e6;
					transition:
						all 2s,
						color 0s;
					.svg-icon {
						width: 100%;
						height: 100%;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					svg {
						width: 60%;
					}
					.forActive {
						width: calc(var(--base) * 5.6px);
						height: calc(var(--base) * 5.6px);
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						display: none;
						&::after {
							content: '';
							width: calc(var(--base) * 0.5px);
							height: calc(var(--base) * 0.5px);
							border: 3px solid var(--services-color-main);
							bottom: calc(var(--base) * 3.1px * -1);
							left: calc(var(--base) * 1.4px * -1);
							filter: blur(1px);
							position: absolute;
							border-radius: 100%;
						}
						&::before {
							content: '';
							width: calc(var(--base) * 0.6px);
							height: calc(var(--base) * 0.6px);
							filter: blur(5px);
							top: -15px;
							position: absolute;
							transform: rotate(-45deg);
							border: calc(var(--base) * 0.6px) solid
								var(--services-color-sub);
							right: -39px;
						}
					}
					&.active {
						transition:
							all 2s,
							color 0s;
						.forActive {
							display: block;
						}
					}
					&:hover,
					&.active {
						color: #ffffff;
						transition: 0.5s; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */
						background: var(--services-color-main);
						background: -moz-linear-gradient(
							49deg,
							var(--services-color-main) 35%,
							var(--services-color-sub) 100%
						);
						background: -webkit-linear-gradient(
							49deg,
							var(--services-color-main) 35%,
							var(--services-color-sub) 100%
						);
						background: linear-gradient(
							49deg,
							var(--services-color-main) 35%,
							var(--services-color-sub) 100%
						);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--services-color-main),endColorstr=var(--services-color-sub),GradientType=1);
					}
				}
			}
		}
		.services-description {
			width: 100%;
			border-radius: 100%;
			color: #222222;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
			font-family: 'Montero';
			@include flex-center();
			.description-box {
				border-radius: 100%;
				color: white;
				position: absolute;
				text-align: center;
				bottom: 0;
				left: 0;
				opacity: 0;
				transform: scale(0);
				transition: 0.5s;
				font-size: 15px;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				@include flex-center();
				flex-direction: column;
				&.active {
					z-index: 1;
					opacity: 1;
					transform: scale(1);
					transition: 0.5s;
				}
				i,
				.svg-icon {
					font-size: calc(var(--base) * 18px);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white;
					opacity: 0.3;
					width: calc(var(--base) * 18px);
					height: calc(var(--base) * 18px);
					z-index: 5;
				}
				.svg-icon {
					@include flex-center();
				}
				.title {
					font-weight: 600;
					letter-spacing: 2px;
					position: relative;
					z-index: 7;
					span {
						font-weight: 800;
						color: var(--services-color-main);
					}
				}
				p {
					line-height: 2em;
					width: 50%;
					white-space: wrap;
					z-index: 7;
					text-align: justify;
				}
			}
		}
	}
	.bar-chart {
		grid-area: 2 / 1 / 3 / 2;
		z-index: 20;
		height: 100%;
		@include flex-center();
		justify-content: space-between;
		flex-direction: column;
		.myBarChart-container {
			width: calc(var(--base) * 40px);
			height: calc(var(--base) * 45px);
		}
		.section-title {
			font-size: $sub_title_size;
			padding-bottom: 1rem;
			font-family: 'lobster';
		}
	}
	.section-description {
		z-index: 20;
		grid-area: 3 / 1 / 4 / 3;
		font-family: 'Montero';
		color: white;
		font-size: 1rem;
		text-align: justify;
		
		a {
			font-size: inherit;
			padding: 0 10px;
			&:hover {
				color: var(--services-color-main);
				text-decoration: underline;
			}
		}
	}
	.take-action {
		z-index: 20;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		grid-area: 4 / 1 / 5 / 3;
		grid-column-gap: 20px;
		align-self: flex-end;
		.btn {
			width: 120px;
			border-radius: 15px;
			color: white;
			&.to-fill:hover {
				background-color: var(--services-color-sub);
			}
		}
		.contact {
			background: linear-gradient(
				45deg,
				var(--services-color-main),
				var(--services-color-sub)
			);
		}
		.see-more {
			border: 2px solid var(--services-color-sub);
		}
	}
	.pause {
		z-index: 100;
		grid-area: 4 / 1 / 5 / 3;
		justify-self: flex-start;
		color: white;
		font-size: 2rem;
	}
}

@media screen and (max-width: 992px) {
	section.services {
		grid-template-columns: 1fr;
		grid-template-rows: 120px 1fr 1fr auto 120px;
		row-gap: 2rem;
		justify-content: center;
		text-align: center;
		align-items: stretch;
		.skills {
			grid-area: 2 / 1 / 3 / 2;
		}
		.bar-chart {
			grid-area: 3 / 1 / 4 / 2;
		}
		.section-description {
			grid-area: 4 / 1 / 5 / 2;
		}
		.take-action {
			grid-area: 5 / 1 / 6 / 2;
			flex-direction: column;
			justify-content: space-between;
			align-self: flex-end;
			height: 100%;
		}
		.pause {
			grid-area: 5 / 1 / 6 / 2;
			align-self: flex-end;
			justify-self: flex-start;
		}
	}
}
@media screen and (max-width: 768px) {
	section.services {
		--base: 7;
	}
}
@media screen and (max-width: 480px) {
	section.services {
		--base: 4;
		.description-box {
			p {
				display: none;
			}
		}
	}
}
/* @media only screen and (min-width: 300px) and (max-width: 599px) {
  .circle-holder {
    width: 300px; height: 300px;
    margin: 110px auto;
    ::after {
      width: 100%;
      height: 100%;
    }
    .services-items {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
} */
/* 

	Overlay

*/

.overlay {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* 

	General

*/

.link {
	span {
		padding: 0 10px;
	}
	&::after {
		content: '\f0c1';
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}
}

.bubble {
	position: relative;
	overflow: hidden;
	.ripple-span {
		position: absolute;
		border-radius: 50%;
		background-color: black;
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-left: -50px;
		animation: ripple 1s;
		opacity: 0;
		z-index: 0;
	}
	@keyframes ripple {
		from {
			opacity: 0.3;
			transform: scale(0);
		}
		to {
			opacity: 0;
			transform: scale(10);
		}
	}
}

/* 

 Hell

*/

.carousel-container {
	margin: auto 0;
	color: white;
	z-index: 2;
	text-align: center;
	position: relative;
	@include flex-center();
	flex-direction: column;
	justify-content: space-between;

	ul {
		list-style: none;
		@include flex-center();
		flex-direction: row;
		align-self: flex-start;
		li {
			@include flex-center();
			flex-direction: column;
			width: 100%;
			h3 {
				font-size: 30px;
				margin: auto 60px;
			}
			p {
				font-size: 20px;
				margin: 10px 60px 0;
				font-weight: 550;
				width: 70%;
				margin: 0 auto;
			}
		}
	}
	.btn {
		@include apperance();
		font-size: 2rem;
		color: rgba(255, 255, 255, 0.512);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include flex-center();
		height: 45px;
		width: 45px;
		border-radius: 45px;
		background-color: transparent !important;
		transition: color 0.5s;
		&.hover {
			color: rgb(255, 255, 255);
		}
		&.next {
			right: 1%;
		}
		&.prev {
			left: 1%;
		}
	}
	.navigators {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 200px;
		position: relative;
		height: 60px;
		margin-top: 0px;
		span {
			display: block;
			width: 8px;
			height: 8px;
			background-color: rgba(255, 255, 255, 0.4);
			border-radius: 8px;
			position: relative;
			cursor: pointer;
			&::before {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: white;
				border-radius: 50%;
				width: 0%;
				height: 0%;
				transition:
					height 0.3s,
					width 0.3s;
			}
			&.active::before {
				width: 12px;
				height: 12px;
				transition:
					height 0.5s,
					width 0.5s;
			}
		}
	}
}

// testiminiols

.testimonials-container {
	background-color: #1c1d21;
	height: 80vh;
	display: grid;
	padding: 40px 0;
	grid-template-columns: 30px 1fr 30px;
	grid-template-rows: 40px 60px auto;
	font-family: 'Montero';
	overflow: hidden;
	h2 {
		color: white;
		text-align: center;
		grid-area: 1 / 2 / 2/ 3;
		font-family: 'Blackjack';
		font-size: 3rem;
	}
	.testimonials {
		overflow-x: hidden;
		width: 100%;
		grid-area: 3 / 2 / 4 / 3;
		height: 100%;
		text-align: initial;
		@include flex-center();
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		ul {
			list-style: none;
			align-self: center;
			height: 100%;
			li {
				cursor: pointer;
				height: 350px;
				padding: 25px;
				border-radius: 10px;
				border: 2px solid #2b2c30;
				background-color: #1c1d21;
				color: white;
				align-items: flex-start;
				transform: scale(0.9);
				transition: transform 0.5s;
				opacity: 0.7;
				display: grid;
				grid-template-columns: 1fr 200px;
				grid-template-rows: auto 1fr auto auto;
				align-items: center;
				column-gap: 1rem;
				&.active {
					transform: scale(1);
					opacity: 1;
				}
				.hero {
					font-family: 'Blackjack';
					font-size: 3rem;
					grid-column: 1 / 2;
					display: flex;

					background: $rainbow_bg;
					@include blindColor();
				}
				.thumbnail {
					height: 100%;
					background-position: center;
					background-size: cover;
					grid-area: 1 / 2 / -1 / 3;
					position: relative;
					border-top-right-radius: 50%;
					border-bottom-right-radius: 50%;
					svg {
						position: absolute;
						left: -3px;
						fill: #1c1d21 !important;
						height: 100%;
					}
				}
				p {
					text-align: justify;
					padding: 10px 0;
					margin: 0;
					width: 100%;
				}
				.rating {
					@include flex-between();
					width: 150px;
					padding-bottom: 10px;
				}
				.user-info {
					.user-work {
						color: #96989f;
					}
				}
			}
		}
		.quote {
			position: absolute;
			top: -3.5rem;
			right: -2.5rem;
			font-size: 7rem;
		}
	}
}
// footer

/* contact-us */

.contact-us {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	z-index: 2;
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #151414;
		z-index: 1 !important;
		content: '';
	}
	& > * {
		z-index: 3;
	}
	.globals {
		-webkit-mask: url('../assets/photos/global.svg') center /
			cover no-repeat;
		mask: url('../assets/photos/global.svg') center / contain
			no-repeat;
		background: black;
		height: calc(100% - 20px);
		width: calc(100% - 20px);
		position: absolute;
		left: 20px;
		top: 20px;
		right: 20px;
		bottom: 20px;
		z-index: 2;
	}
	.footer-top {
		border-bottom: 1px solid #373636;
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(400px, 1fr)
		);
		gap: 2rem;
		margin: 2rem;
		padding-bottom: 2rem;
		.info-type {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			i {
				background: $rainbow_bg;
				@include blindColor();
				font-size: 2rem;
				margin-top: 8px;
			}
			.info {
				padding-left: 15px;
				display: inline-block;
				h4 {
					color: #fff;
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 2px;
				}
				span {
					color: #757575;
					font-size: 15px;
				}
			}
		}
	}
	.footer-content {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(400px, 1fr)
		);
		padding: 2rem;
		position: relative;
		gap: 2rem;
		row-gap: 4rem;
		z-index: 3;
		.footer-widget {
			.footer-logo {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 30px;
				.logo-container {
					padding-left: 0;
					svg {
						fill: white !important;
					}
					.tok {
						background-image: none;
						background-color: #fff;
					}
				}
				.hero {
					padding-left: 15px;
				}
			}
			.footer-text p {
				padding-bottom: 14px;
				color: #7e7e7e;
				line-height: 28px;
				text-align: justify;
			}
			.footer-social-icon {
				ul {
					width: 180px;
					justify-content: space-between;
					li {
						justify-content: flex-start;
						a {
							i {
								color: white;
								font-size: 40px;
							}
						}
					}
				}
				span {
					color: #fff;
					display: block;
					font-size: 20px;
					font-weight: 700;
					font-family: 'Poppins', sans-serif;
					margin: 20px 0;
				}
			}
			.footer-widget-heading {
				h3 {
					color: #fff;
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 40px;
					position: relative;
					&::before {
						content: '';
						position: absolute;
						left: 0;
						bottom: -15px;
						height: 2px;
						width: 50px;
						background: $rainbow_bg;
						border-radius: 5px;
					}
				}
			}
			&.usefull-links {
				ul li {
					display: inline-block;
					width: 50%;
					margin-top: 12px;
					a {
						color: #878787;
						text-transform: capitalize;
						font-size: 1rem;
						&:hover {
							background: $rainbow_bg;
							@include blindColor();
						}
					}
				}
			}
			.subscribe-form form {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50px;
				overflow: hidden;
				input {
					width: calc(100% - 70px);
					height: 100%;
					padding-left: 15px;
					background: #2e2e2e;
					border: none;
					color: #fff;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
					outline: none;
				}
				button {
					background-color: #555;
					height: 100%;
					width: 70px;
					border-top-right-radius: 15px;
					border-bottom-right-radius: 15px;
					border: none;
					appearance: none;
					cursor: pointer;
					i {
						color: white;
						font-size: 30px;
					}
					&:hover {
						background: $rainbow_bg;
						i {
							color: #333;
						}
					}
				}
			}
		}
	}
	.copyright-area {
		background: #202020c7;
		padding: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.copyright-text {
			justify-self: flex-start;
			p {
				margin: 0;
				font-size: 14px;
				color: #878787;
				a {
					background: $rainbow_bg;
					@include blindColor();
					font-family: 'Blackjack';
					font-size: 1.3rem;
				}
			}
		}
		.footer-menu li {
			display: inline-block;
			margin-left: 20px;
			a {
				font-size: 14px;
				color: #878787;
			}
			&:hover a {
				background: $rainbow_bg;
				@include blindColor();
			}
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 480px) {
	.contact-us {
		.footer-top {
			grid-template-columns: repeat(
				auto-fit,
				minmax(200px, 1fr)
			);
		}
		.footer-content {
			grid-template-columns: repeat(
				auto-fit,
				minmax(200px, 1fr)
			);
		}
	}
	.copyright-area {
		.footer-menu {
			display: none;
		}
	}
}

/* 


	Hire me

*/
