@font-face {
  font-family: "Recharge";
  src: url("/fonts/recharge.woff") format("woff");
}
@font-face {
  font-family: "Montero";
  src: url("/fonts/montero.woff") format("woff");
}
@font-face {
  font-family: "Blackjack";
  src: url("/fonts/blackjar.woff") format("woff");
}
@font-face {
  font-family: "Monotone";
  src: url("/fonts/montone.woff") format("woff");
}
@font-face {
  font-family: "Baysan";
  src: url("/fonts/baysan.woff") format("woff");
}
@font-face {
  font-family: "Lobster";
  src: url("/fonts/lobster.ttf") format("truetype");
}
